<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger mb-2">
    <div class="lead buffer-bottom">
      В вашей форме <%= t(:error, errors.count) %>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
