<% errors = model.errors %>

<% if errors.any? %>
  <div data-controller="flash" class="alert alert-danger alert-dismissible fade show mb-2"
    data-timeout="3000" role="alert">
    <div class="lead buffer-bottom">
      <%= t('partials.form_errors_count') %> <%= t(:error, count: errors.count) %>
    </div>

    <ul>
      <% errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
    <button data-action="flash#dismiss" type="button" class="btn-close"
      data-bs-dismiss="alert" aria-label="Close">
  </div>
<% end %>
