.alert {
  border-radius: 0;
}

.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.ml-n2 {
  margin-left: -2rem;
}

.ml-n3 {
  margin-left: -3rem;
}

.mr-sm {
  margin-right: 10px;
}

.oauth-button {
  background-color: white;
  border: none;
  display: inline-block;
}

.oauth-image {
  display: inline-block;
}

.red-icon {
  color: red;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 4px 4px;
}
